<div class="container">
  <div class="row">
    <div class="col-xs-12 p-2">
      <h1>Welcome to the game</h1>
      <br>
      <app-game-control (addNum)="addNumber($event)"></app-game-control>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let number of generatedNumbers" #generatedNum>
          <app-odd *ngIf = " number.type === 'odd' " [num] = "number.num"></app-odd>
          <app-even *ngIf = " number.type === 'even' " [num] = "number.num"></app-even>
        </li>
      </ul>
    </div>
  </div>
</div>